<div class="register-block">
  <!-- <h3>Are you interested in running or attending a TechNoon course? <a href="{{ '/contact' | prepend: site.baseurl }}">Register Your Interest!</a></h3> -->
  <h3 style="margin-bottom: 0;"><a href="{{ '/ainoon' | prepend: site.baseurl }}" target="_blank" rel="noopener">AINoon</a> will be running in the Auckland CBD from 11:15am to 12:45pm for five Tuesdays starting Feb 24. <a target="_blank" rel="noopener" href="https://docs.google.com/forms/d/e/1FAIpQLSfTyjYFBuMzr2F3HXcmYPHLq_qh1lwP3houWUrG80JOat3QBw/viewform?usp=publish-editor">Apply Now!</a></h3>
</div>
