---
layout: default
---

<div class="home">

    {% include register_block.html %}
    <br>

    {% include announcements.html %}
    <br>

    <h1>About {{ site.course_name }} <span style="font-size: 20px;color: #0006;">{% if site.course_semester %}/ {{ site.course_semester }} {% endif %}</span></h1>

    {% if site.course_description  %}
    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    {% endif %}

    {{ content }}

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <div>
        {% if site.data.people.instructors %}
        <div>
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary">
                <h2>Organisers</h2>
                <div class="instructor-list">
                    {% for ins in site.data.people.instructors %}
                    <div class="image--cover-container">
                        <div class="profile-pic">
                            <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                            {% if ins.webpage %}
                            <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                            {% else %}
                            <p>{{ins.name}}</p>
                            {% endif %}
                        </div>
                        <p class="bio">{{ins.bio}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if site.data.people.teaching_assistants %}
        <div style="width:65%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif  %}
    </div>

</div>
